*,
*::after,
*::before,
body {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #4d737f;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 4rem;
}

.fa-star {
    color: rgb(51, 72, 70);
}
.active {
    color: rgb(92, 215, 199);
}
#text {
    color: rgba(66, 229, 193, 0.129);
    font-size: 30rem;
    position: absolute;
    top: 17%;
    z-index: -3;
    left: 42%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}