* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #05111b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 100vh;
}
ul.nested {
    max-height: 0;
    overflow: hidden;
    font-size: 1.3rem;
    position: relative;
    color: #888;
    transition: all 0.3s ease-in-out;
}
.nested-list-span {
    cursor: pointer;  

}
.nested-list-span:hover {
    color: crimson;
}

ul.nested::before {
    left: 7.2%;
    height: 100%;
    top: 5px;
    position: absolute;
    content: '';
    width: 1.5rem;
    border-left: 1.3px solid #00ff2a;
}
ul, li {
    list-style: none;
}
ul.nested li {
    padding-left: 3.7rem;
    position: relative; 
}
ul.nested li::after {
    left: 7.5%;
    height: 1rem;
    top: -0.5rem;
    position: absolute;
    content: '';
    width: 1.5rem;
    border-bottom: 1.3px solid #00ff2a;
}

.list-header {
    font-size: 1.7rem;
    color: #ccc;
    cursor: pointer;
}
.list-header::before {
    display: inline-block;
    font-family: "Font Awesome 6 Free"; 
    content: '\f07b';  
    margin-right: 0.5em;
    color: #00ff2a;
}
.list-header:hover,
.list-header:hover::before,
.list-header:hover + .nested > li,
.list-header:hover + .nested  li::after,
.list-header:hover + .nested::before,
.list-header:hover + .nested .nested::before {
    border-color: crimson;
    color: crimson;
    transition: .4s ease-in-out;
}
.nested-list-item::before {
    display: inline-block;
    font-family: "Font Awesome 6 Free";
    content: '\f15b';
    margin-right: 0.4em;
    color: deepskyblue;
}

.nested-list-item-item::before {
    display: inline-block;
    font-family: "Font Awesome 6 Free";
    content: '\f15c';
    margin-right: 0.4em;
    color: #f800f8;
}
.hide {
    display: none;
    transition: .4s ease-in-out;
}
.show {
    display: block;
}

.arrow-down,.fa-times {
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
}
